h1 {
	color: red;
}

p.text	{
	color: white;
	background: blue;
	width: 100px;
	margin-bottom: 100px;
}

p.kod span {
	color: red;
}

h2 {
	color: white;
	background:green;
}

.skills {
	padding: 50px;
}


.forms {
	margin-left: 100px;
}
	

li {
	font-size: 21px;
	border: 1px solid;
}